.fa-override:before {
    content: "\f093";
}
.gv-tersect-integration-plugin .gv-tersect-integration-menu {
    color: white;
    background-color: #5F8CB0;
    border-radius: 0px 12px 12px 12px;
    min-width: 200px;
    padding: 0;
    position: absolute;
    z-index: 1001;
    box-shadow: 3px 3px 10px #666666;
    margin-left: 5px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-button button {
    background: none;
    border: none;
    border-bottom: 1px solid #1C5380;
    color: #E2E9EF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    width: 30px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 2px;
    margin: 0;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu {
    left: 24%;
    top: 70px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu table {
    margin: 0 0 10px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu td {
    padding: 5px 10px!important;
    vertical-align: top;
    width: 50%;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu tr:first-child td {
    font-weight: bold;
    white-space: nowrap;
    padding: 5px 30px 5px 10px;
    margin-bottom: 5px;
    background: rgba(6, 54, 95, 0.35);
    line-height: normal;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
    white-space: nowrap;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu tr td:first-child {
    padding-right: 50px!important;
    white-space: nowrap;
}


.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-close {
    font-size: 20px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-file-button {
    font-size: 20px;
    position: absolute;
    left: 200px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-select-button {
    font-size: 18px;
    position: absolute;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-submit-button {
    font-size: 20px;
    position: absolute;
    left: 440px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-menu-content {
    font-size: 13px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-input {
    width: 200px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-tersect-file-input {
    display: none;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu gv-tersect-index-list {
    overflow: scroll;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-settings {
    margin-top: 4px;
    width: 200px;
}
.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-text {
    font-weight: bold;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-checkbox {
    position: absolute;
    left: 460px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu {
    min-width: 400px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu {
    left: 24%;
    top: 70px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu table {
    margin: 0 0 10px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu td {
    padding: 5px 10px!important;
    vertical-align: top;
    width: 50%;
    white-space: nowrap;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu tr:first-child td {
    font-weight: bold;
    white-space: nowrap;
    padding: 5px 30px 5px 10px;
    margin-bottom: 5px;
    background: rgba(6, 54, 95, 0.35);
    line-height: normal;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu br {
    content: " ";
    display: block;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu tr td:first-child {
    padding-right: 50px!important;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-close {
    font-size: 20px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-menu-content {
    font-size: 13px;
}

.gv-tersect-integration-plugin .gv-tersect-index-list{
    width: 100%;
    border-collapse: collapse;
}

.gv-tersect-integration-plugin .gv-tersect-index-list thead {
    display:block;
    background: rgba(6, 54, 95, 0.35);
    width: 100%;
}

.gv-tersect-integration-plugin .gv-tersect-index-list tbody{
    display:block;
    overflow:auto;
    height:100px;
    width:100%;
}

.gv-tersect-integration-plugin .gv-tersect-index-list tr:first-child td {
    font-weight: normal;
    white-space: nowrap;
    padding: 5px 30px 5px 10px;
    margin-bottom: 5px;
    background: rgba(6, 54, 95, 0.00);
    line-height: normal;
}


.gv-tersect-integration-plugin .gv-tersect-integration-span {
    padding-right: 15px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-headspan {
    padding-bottom: 2px;
}

.jspDrag {
    background-color: #F0F8FF;
}

.jspVerticalBar {
    background-color: #5F8CB0;
}

.progressbar-border{border:1px solid #ccc}

.progressbar-fill{
    color:#000;
    background-color:#00fa9a;
    height:24px;
    width:0%

}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 20px;
}