.fa-override:before {
    content: "\f093";
}
.gv-tersect-integration-plugin .gv-tersect-integration-menu {
    background-color: #5F8CB0;
    border-radius: 0px 12px 12px 12px;
    box-shadow: 3px 3px 10px #666666;
    color: white;
    left: 5%;
    margin-left: 5px;
    min-width: 90%;
    padding: 0;
    position: absolute;
    top: 0px;
    z-index: 1001;
}

.gv-tersect-integration-plugin .gv-tersect-integration-button button {
    background: none;
    border: none;
    border-bottom: 1px solid #1C5380;
    color: #E2E9EF;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    margin: 0;
    padding: 2px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    width: 30px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu table {
    margin: 0 0 10px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu td {
    padding: 5px 10px!important;
    vertical-align: top;
    width: 50%;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu tr:first-child td {
    background: rgba(6, 54, 95, 0.35);
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5px;
    padding: 5px 30px 5px 10px;
    white-space: nowrap;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
    white-space: nowrap;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu tr td:first-child {
    padding-right: 50px!important;
    white-space: nowrap;
}


.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-close {
    font-size: 20px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-file-button {
    font-size: 20px;
    left: 200px;
    position: absolute;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-select-button {
    font-size: 18px;
    position: absolute;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-submit-button {
    font-size: 20px;
    left: 440px;
    position: absolute;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-menu-content {
    font-size: 13px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-input {
    width: 200px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-tersect-file-input {
    display: none;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-tersect-dropzone{
    height: 250px;
    width: 250px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu gv-tersect-index-list {
    overflow: scroll;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-settings {
    margin-top: 4px;
    width: 200px;
}
.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-tersect-integration-text {
    font-weight: bold;
}

.gv-tersect-integration-plugin .gv-tersect-integration-menu .gv-checkbox {
    left: 460px;
    position: absolute;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu {
    max-width: 600px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu {
    left: 24%;
    top: 70px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu table {
    margin: 0 0 10px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu td {
    padding: 5px 10px!important;
    vertical-align: top;
    white-space: nowrap;
    width: 50%;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu tr:first-child td {
    background: rgba(6, 54, 95, 0.35);
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5px;
    padding: 5px 30px 5px 10px;
    white-space: nowrap;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu br {
    content: " ";
    display: block;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu tr td:first-child {
    padding-right: 50px!important;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-close {
    font-size: 20px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-file-menu .gv-menu-content {
    font-size: 13px;
}

.gv-tersect-integration-plugin .gv-tersect-index-list{
    border-collapse: collapse;
    width: 100%;
}

.gv-tersect-integration-plugin .gv-tersect-index-list thead {
    background: rgba(6, 54, 95, 0.35);
    display:block;
    width: 100%;
}

.gv-tersect-integration-plugin .gv-tersect-index-list tbody{
    display:block;
    height:100px;
    overflow:auto;
    width:100%;
}

.gv-tersect-integration-plugin .gv-tersect-index-list tr:first-child td {
    background: rgba(6, 54, 95, 0.00);
    font-weight: normal;
    line-height: normal;
    margin-bottom: 5px;
    padding: 5px 30px 5px 10px;
    white-space: nowrap;
}


.gv-tersect-integration-plugin .gv-tersect-integration-span {
    padding-right: 15px;
}

.gv-tersect-integration-plugin .gv-tersect-integration-headspan {
    padding-bottom: 2px;
}

.jspDrag {
    background-color: #F0F8FF;
}

.jspVerticalBar {
    background-color: #5F8CB0;
}

.progressbar-border{border:1px solid #ccc}

.progressbar-fill{
    background-color:#00fa9a;
    color:#000;
    height:24px;
    width:0%

}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    height: 20px;
    width: 250px;
}

.filename
{
    display:inline-block;
    vertical-align:top;
    width:250px;
}
.filesize
{
    display:inline-block;
    vertical-align:top;
    width:100px;
    margin-right:5px;
}
.gv-tersect-dropzone div:nth-child(odd) span{
    background-color: rgba(6, 54, 95, 0.35);
}


#gv-tersect-gui-container td {
    padding: 5px 5px;
    margin: 2px 1px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    background: #ebebeb;
    color: #000;
}

#gv-tersect-gui-container body {
    font-family: Verdana, Helvetica, sans-serif;
}

#genomeTable {
    height: 300px;
    width: 300px;
    overflow: auto;
    display: inline-block;
    border: 3px solid black;
    padding: 15px;
    white-space: normal;
}

#gv-tersect-gui-container {
    text-align: center;
}

#gv-tersect-gui-container venntooltip {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 200px;
    background: #555;
    color: #fff;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}

#gv-tersect-gui-container .samples {
    cursor: -webkit-grab;
    cursor: grab;
    width: 40%;
}

#gv-tersect-gui-container .samples:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#gv-tersect-gui-container .samples.ui-draggable-disabled {
    cursor: not-allowed;
    background-color: #555;
}

#venn {
    cursor: pointer;
    height: 400px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

#gv-tersect-gui-container .sidenav{
    float:left;
    width:30%;
    overflow:hidden;

}
